	<% @title = "| "+@user.name.capitalize + " Shop"%>

			<div class="profile">
			<%= render 'sidebar' %>
			</div>

<div ng-app="LitleShop">
	<div class="cacsanpham" ng-controller="AllProductCtrl">

		<div class="hangmoinhap">
			<h4>Hàng mới nhập</h4>
		</div>

		<div class="cac_sanpham_khac">
			<h4>Tất cả</h4>
		</div>

	</div>


</div>



 
