	<% @title = "| "+@user.name.capitalize + " Shop"%>

	<div class="span2">
			<div class="profile">
			<%= render 'sidebar' %>
			</div>
	</div>

<div class="span10" ng-app="LitleShop">
	<div class="cacsanpham" ng-controller="AllProductCtrl">




	</div>



</div>



 
