<% @title = "| "+@user.name.capitalize + " Shop"%>

<div class="span2">
		<div class="profile">
		<%= render 'sidebar' %>
		</div>
</div>


<div class="span10" ng-app="LitleShop">
	<div class="cacsanpham" ng-controller="AllProductCtrl">

		<button ng-click="addProduct()" class="btn">Them San Pham</button>
		
		<ul>
			<li ng-repeat="p in products">
				{{p}}
			</li>
		</ul>



		<a id="simple-menu" href="#sidr"><button class="btn">Setting</button></a>
 
		<div id="sidr">
		  <!-- Your content -->
		  <ul>
		    <li><a href="#">List 1</a></li>
		    <li class="active"><a href="#">List 2</a></li>
		    <li><a href="#">List 3</a></li>
		  </ul>
		</div>


	</div>



</div>



 
<script>
$(document).ready(function() {
  $('#simple-menu').sidr();
});
</script>